.optionBtn {
    padding: 12px 18px;
    margin: 8px 0;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: left;
    transition: .3s;
    transform: translateX(0px);
}

.optionBtn:hover {
    background-color: #6e6e6e;
}

.fadeIn {
    animation: fadeIn .6s ease forwards;
}

.correct {
    background-color: #18c287 !important;
    color: #fff;
    transform: translateX(24px);
}

.incorrect {
    background-color: #e78f3c !important;
    color: #fff;
    opacity: .7;
}

.incorrect.answered {
    background-color: #e74c3c !important;
}